APP_NAME=MezquitaAlQuds
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mezquita_alquds
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
SESSION_SAMESITE=lax
APP_KEY=

ADMIN_PASSWORD=changeme_please

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@mezquitaalquds.com
MAIL_FROM_NAME="${APP_NAME}"

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
